<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="/images/logo-white.png" alt="HomeBase logo" />
          </a>

          <p class="section-text">
            Finding Your Perfect Home Made Simple.

          </p>

          <ul class="contact-list">
            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>Gunupur, India - 765022</address>
              </a>
            </li>

            <li>
              <a href="tel:+919798511430" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>
                  <span>9798511430</span>
              </a>
            </li>

            <li>
              <a href="mailto:rohitkumhar848@gmail.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>rohitkumhar848@gmail.com</span>
              </a>
            </li>
          </ul>

          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer-link-box">
          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#about" class="footer-link">About</a>
            </li>

          

            <li>
              <a href="property.html" class="footer-link">All Properties</a>
            </li>

            <!-- <li>
              <a href="#" class="footer-link">Locations Map</a>
            </li> -->

                

            <li>
              <a href="/contact" class="footer-link">Contact us</a>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <!-- <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Wish List</a>
            </li> -->

            <li>
              <a href="login.html" class="footer-link">Login</a>
            </li>

            <li>
              <a href="user.html" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>

            <!-- <li>
              <a href="#" class="footer-link">Promotional Offers</a>
            </li> -->
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="login.html" class="footer-link">Login</a>
            </li>

            <li>
              <a href="user.html" class="footer-link">My account</a>
            </li>

            <!-- <li>
              <a href="#" class="footer-link">Wish List</a>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li> -->


            <li>
              <a href="contact.html" class="footer-link">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2024 <a href="#" style="text-decoration: none;">team3</a>. All Rights Reserved!
        </p>
      </div>
    </div>
  </footer>
