.details {
  background-color: #fff !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
  padding: 2rem !important;
  overflow-x: hidden !important;
}

.details .thumb {
  background-color: #000 !important;
  padding: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.details .thumb .big-image img {
  height: 40rem !important;
  width: 100% !important;
  object-fit: contain !important;
}

.details .thumb .small-images {
  display: flex !important;
  justify-content: center !important;
  gap: 1.5rem !important;
  padding-top: 1rem !important;
  flex-wrap: wrap !important;
}

.details .thumb .small-images img {
  height: 7rem !important;
  width: 10rem !important;
  object-fit: cover !important;
  cursor: pointer !important;
  transition: transform 0.2s linear !important; 
}

.details .thumb .small-images img:hover {
  transform: scale(1.1) !important;
}

.heart-liked {
  background-color: red !important;
  color: white !important; /* Ensures the heart icon remains visible */
  border-radius: 50% !important; /* Makes the background a circle */
  padding: 5px !important; /* Adds padding around the icon */
}

