<% layout("/layouts/boilerplate2") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br /><br />
        <h2>Create a new listing</h2>
        
        <form action="/properties/propertyList" method="POST" enctype="multipart/form-data">
            
            <!-- --------------new added -->

            <div class="form-group">
                <label for="property-title"
                  ><i class="fas fa-home"></i> Property Title</label
                >
                <input
                  type="text"
                  id="property-title"
                  name="property[title]"
                  required
                />
                <!-- <div class="valid-feedback">Title looks good</div> -->
              </div>
    
              <div class="form-group">
                <label for="price"><i class="fas fa-dollar-sign"></i> Price</label>
                <input type="" id="price" name="property[price]" required />
                <!-- <div class="invalid-feedback">please enter a valid price</div> -->
              </div>
    
              <div class="form-group">
                <label for="description"
                  ><i class="fas fa-align-left"></i> Description</label
                >
                <textarea
                  id="description"
                  name="property[description]"
                  rows="4"
                  required
                ></textarea>
                <!-- <div class="invalid-feedback">Please enter a sort description</div> -->
              </div>
    
              <div class="form-group">
                <label for="location"
                  ><i class="fas fa-map-marker-alt"></i> Location</label
                >
                <input type="text" id="location" name="property[location]" required />
                <!-- <div class="invalid-feedback">Location should be require</div> -->
              </div>
              <div class="form-group">
                <label for="country"
                  ><i class="fas fa-map-marker-alt"></i> country</label
                >
                <input type="text" id="location" name="property[country]" required />
                <!-- <div class="invalid-feedback">Country should be require/div> -->
              </div>
    
              <div class="form-group">
                <label for="bedrooms"><i class="fas fa-bed"></i> Bedrooms</label>
                <input type="number" id="bedrooms" name="property[bedrooms]" required />
              </div>
    
              <div class="form-group">
                <label for="bathrooms"><i class="fas fa-bath"></i> Bathrooms</label>
                <input type="number" id="bathrooms" name="property[bathrooms]" required />
              </div>
    
              <div class="form-group">
                <label for="square-feet"
                  ><i class="fas fa-ruler-combined"></i> Square Feet</label
                >
                <input type="number" id="square-feet" name="property[squarefeet]" required />
              </div>
    
              <div class="form-group">
                <label for="property-image"
                  ><i class="fas fa-image"></i> Property Image</label
                >
                <input
                  type="file"
                  id="property-image"
                  name="property[image]"
                  
                />
              </div>
    
              <div class="form-group">
                <label for="seller-name"
                  ><i class="fas fa-user"></i> Seller Name</label
                >
                <input type="text" id="seller-name" name="property[sellername]" required />
              </div>
    
              <div class="form-group">
                <label for="seller-contact"
                  ><i class="fas fa-phone-alt"></i> Seller Contact</label
                >
                <input
                  type="text"
                  id="seller-contact"
                  name="property[sellercontact]"
                  required
                />
              </div>
    
              <button type="submit" class="submit-btn">
                <i class="fas fa-paper-plane"></i> Add
              </button>
        </form>
    </div>
</div>
